<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">MUO</div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->

    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li class="services">
        <a routerLink="/tournaments">Tournaments</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a href="/">Basketball </a></li>
          <li><a href="/">Volleyball </a></li>
          <li><a href="/">Table Tennis </a></li>
          <li><a href="/">Tennis </a></li>
        </ul>
      </li>
      <li><a routerLink="/schedule">Schedule</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>

      <li><a routerLink="/contact">Contact</a></li>
    </div>
  </ul>
</nav>